{{#pomMetadata}}

# {{name}}

## Description

{{description}}

{{/pomMetadata}}

## Usage

The targets to build or run the application are defined via its [Makefile](Makefile):

```shell
{{#makefile}}help-nocolor{{/makefile}}
```

{{#pomMetadata}}

## Project Links

{{#scm}}* Source Code: [GitHub]({{url}}){{/scm}}

## Team

{{#developers}}
* <img src="{{picUrl}}" height="30"> [{{name}}]({{url}}) (*{{role}}*)
{{/developers}}

{{/pomMetadata}}

